{% extends "socialnetwork/base-logged-in.html" %}

<!-- {% block user-info %}
    <form action="{% url 'logout' %}" method="get">
	    <li><a class="nav-titile nav-right">{{user.first_name}} {{user.last_name}}</a></li>
		<li class="dropdown">
		    <a class="dropbtn">username = {{user.username}} ↓</a>
		    <div class="dropdown-content">
		      <a href="{% url 'home' %}">Global Stream</a>
		      <a href="{% url 'follower' %}">Follower Stream</a>
		      <a href="#">My Profile</a>
		      <a><input class="droplink" type="submit" value="Logout" /></a>
		    </div>
	  	</li>
    </form>
{% endblock %} -->


{% block add-comment %}
	<div class="create-post"> 
		<p>New Post:</p>
    	<textarea rows="5" cols="100" placeholder="Write you post here..."></textarea>
		<input type="submit" value="Submit">
    </div>
    <div class="seperator"></div>
{% endblock %}


{% block global-stream %}
	<div class="post">
	    {% load staticfiles %}	
	    <img class="usr-img" src="{% static 'socialnetwork/blank-profile-picture.png' %}" width="10%" height="10%" />

	    <p >Post by {{entry.created_by.first_name}} {{entry.created_by.last_name}}</p>
	    <p>{{entry.text}} </p>
	    <div class="post-info">
	    	{{entry.update_time}} 
	    </div>

	    <div class="comment">
	    	<p>Comment:</p>
	    	<textarea rows="2" cols="100" placeholder="Leave a comment here..."></textarea>
    		<input type="submit" value="Submit">
	    </div>
	</div>

{% endblock %}





