{% extends "socialnetwork/base-logged-in.html" %}

{% block profile %}
        <div class="profile-img">
            {% load staticfiles %}
            <a href="{% url 'profile' %}"><img src="{% static 'socialnetwork/admin-profile-image.jpeg' %}"/></a>
            <form>
            <br/>
              <input id = "filechoser" type="file" name="pic" accept="image/*">
              <input type="submit">
            </form>
        </div>

        <div class='profile-info'>
            <ul>
                <li>Introduction: </li>
                <li>Creator of this website</li>
            </ul>
            <ul>
                <li>Username: </li>
                <li>{{username}}</li>
            </ul>
            <ul>
                <li>First Name: </li>
                <li>{{first_name}}</li>
            </ul>
            <ul>
                <li>Last Name: </li>
                <li>{{last_name}}</li>
            </ul>
            <ul>
                <li>Email: </li>
                <li>{{email}}</li>
            </ul>

        </div>
    </form>
{% endblock %}

